style.css
	h1 {color: green} p {color: gold} ul {color: orange} 
	h1 {text-align: center}
	h1 {font-family: "DIN Condensed"} h1{font-weight: normal}
	p {font-family: Helvetica} p {font-weight: bold} p{text-align: center;}
	ul {font-family: "DIN Condensed"} ul {font-size: 20px; } ul{text-align: center;}
	ul {list-style-type: none}
	slogan {color: gold} slogan {font-family: "Futura"} slogan.italic{font-style: italic;}
	slogan.center{text-align: center}
